{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.requirementsSection" . }}

## Implementation Details
### kong-plugin-unique-jwt-auth
This plugin is a modified fork of [kong-plugin-jwt-keycloak](https://github.com/telekom-digioss/kong-plugin-jwt-keycloak) (Apache License 2.0 licensed) 🎖️

#### Cluster-Internal JWT Validation

This chart can configure Kong's JWT plugin to validate tokens using an identity provider (IdP) running within the same Kubernetes cluster, without _Hairpin Routing_. This is useful in scenarios where the IdP is not publicly accessible or when you want to ensure traffic stays within the cluster network.

To achieve this:

1.  **Specify the JWKS URI directly:** Instead of letting the plugin discover the JWKS endpoint via the IdP's well-known configuration endpoint, you can provide the internal service URL directly using the `config.jwks_uri` value. This bypasses the well-known lookup. For example, if your IdP's JWKS endpoint is available internally at `http://my-idp-service.default.svc.cluster.local/jwks`, set `config.jwks_uri` to this value.

2.  **(Optional) Add custom headers:** If your internal IdP endpoints (either the well-known endpoint or the direct JWKS endpoint) require specific headers for authentication, routing, or other purposes (e.g., a `Host` header matching an Ingress), you can configure these using:
    *   `config.well_known_extra_headers`: Adds headers to the request for the `.well-known/openid-configuration` endpoint (if `config.jwks_uri` is *not* set).
    *   `config.jwks_extra_headers`: Adds headers to the request for the JWKS endpoint specified by `config.jwks_uri`.

By using `config.jwks_uri`, you ensure that Kong fetches the JSON Web Key Set directly from the specified internal URL. By adding necessary headers via `config.jwks_extra_headers` or `config.well_known_extra_headers`, you can accommodate internal routing or security requirements.

**Example** configuration using Kong API Gateway 🦍

> [!CAUTION]
> Plugin configuration is **not** helm chart values!

```yaml
apiVersion: configuration.konghq.com/v1
kind: KongClusterPlugin
plugin: unique-jwt-auth
config:
  allowed_iss:
    - https://id.example.com
  jwks_extra_headers:
    forwarded: host=zitadel.<namespace>.svc.cluster.local;proto=http
  jwks_uri: http://zitadel.<namespace>.svc.cluster.local:8080/oauth/v2/keys
  uri_param_names:
    - token
  zitadel_project_id: '<ZITADEL_PROJECT_ID>'
```

With this configuration, both external clients (e.g., browser users) and the internal JWT validation plugin can utilize the same identity provider (IdP) for token issuance and validation without requiring further customization.

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
