extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: secretOne
    stringData:
      KEY_ONE: valueOne
  - apiVersion: v1
    kind: Secret
    metadata:
      name: secretTwo
    stringData:
      KEY_TWO: valueTwo
envFromSecretRefs:
  - secretOne
  - secretTwo