{{- $fullName := include "sscsid-keeper.fullname" . -}}
{{- $k8sSecretType := .Values.spc.k8sSecretType -}}
{{- if (lt (len .Values.spc.secrets) 1) }}
{{- fail "spc.secrets list is required and cannot be empty. Using this chart without a secret makes no sense ;)" }}
{{- end }}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "sscsid-keeper.fullname" . }}
spec:
  provider: azure
  secretObjects:
    {{- range .Values.spc.secrets }}
    - secretName: {{ $fullName }}
      type: {{ $k8sSecretType }}
      {{- include "renderData" (list .) | nindent 6 }}
    {{- end }}
  parameters:
    usePodIdentity: "false"
    userAssignedIdentityID: {{ .Values.spc.identityId }}
    useVMManagedIdentity: "true"
    keyvaultName: {{ .Values.spc.kvName }}
    tenantId: {{ .Values.spc.tenantId }}
    objects: |
      {{- include "renderArray" .Values.spc.secrets | nindent 6 }}
