{{- if .Values.artifactsCache.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.downloadArtifactsName" . }}
data:
{{ (.Files.Glob "files/*").AsConfig | indent 2 }}
{{- end }}
