{{- if and .Values.serviceAccount.enabled .Values.hooks }}
{{- $hasEnabledHook := false }}
{{- range $hookName, $hookConfig := .Values.hooks }}
{{- if and $hookConfig $hookConfig.enabled }}
{{- $hasEnabledHook = true }}
{{- end }}
{{- end }}
{{- if $hasEnabledHook }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "backendService.serviceAccountName" . }}-hooks
  labels:
    {{- include "backendService.mutableLabels" . | nindent 4 }}
  annotations:
  {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
    # we need to install the service account before the hooks, otherwise it can not be used
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "1"
    helm.sh/hook-delete-policy: before-hook-creation
  {{- if .Values.workloadIdentity.azure.enabled }}
    azure.workload.identity/client-id: {{ .Values.workloadIdentity.azure.clientId }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
