artifactsCache:
  enabled: true
  storage: 32Gi
  storageClassName: standard
  readOnly: false
  finalizers: [] # tests on purpose omit any finalizer
  accessModes:
    - ReadWriteOnce
  artifacts:
    - blobUrl: https://huggingface.co/ds4sd/docling-models/resolve/main/config.json
      path: /test/docling-models/config.json
    - blobUrl: https://huggingface.co/ds4sd/docling-models/resolve/main/model_artifacts/tableformer/accurate/tableformer_accurate.safetensors
      path: /test/docling-models/model_artifacts/tableformer/accurate/tableformer_accurate.safetensors
  downloader:
    image: "curlimages/curl:8.12.0"
    insecure: false
volumes:
  - name: test-volume
    emptyDir: {}
volumeMounts:
  - name: test-volume
    mountPath: /test