{{- if and (.Capabilities.APIVersions.Has "gateway.networking.k8s.io/v1") (or .Values.routes.paths.default.enabled .Values.routes.paths.versioned.enabled .Values.routes.paths.scoped.enabled .Values.routes.paths.probe.enabled) }}

{{/* Default route, protected with Unique Kong JWT Auth */}}
{{- if .Values.routes.paths.default.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-default
  annotations:
    konghq.com/plugins: unique-jwt-auth,unique-route-metrics
    konghq.com/strip-path: "true"
    {{- if .Values.routes.paths.default.extraAnnotations }}
    {{- toYaml .Values.routes.paths.default.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: {{ include "backendService.routePrefix" $ | default "/" }}
      backendRefs:
        {{- include "backendService.routeBackendRefs" $ | nindent 8 }}
      {{- include "backendService.routeTimeouts" (dict "pathConfig" .Values.routes.paths.default "globalConfig" .Values.routes) | nindent 6 }}
{{- end }}

{{/* Block list routes */}}
{{/* Currently, the 'request-termination' plugin does not yet work well with 'extensionRefs' so we fall back to two routes for now */}}
{{- if and .Values.routes.paths.default.enabled .Values.routes.paths.default.blockList }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-block
  annotations:
    konghq.com/plugins: unique-block-route,unique-route-metrics
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" $.Values.routes.gateway.name }}
      namespace: {{ default "system" $.Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl ($.Values.routes.hostname) $ }}
  rules:
  {{- range .Values.routes.paths.default.blockList }}
    - matches:
        - path:
            type: PathPrefix
            value: {{ include "backendService.routePrefix" $ }}{{ . }}
      backendRefs:
        {{- include "backendService.routeBackendRefs" $ | nindent 8 }}
      {{- include "backendService.routeTimeouts" (dict "pathConfig" $.Values.routes.paths.default "globalConfig" $.Values.routes) | nindent 6 }}
  {{- end }}
{{- end }}

{{/* 'public', now called 'versioned', route, protected with Unique App Repo Auth */}}
{{- if .Values.routes.paths.versioned.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-versioned
  annotations:
    konghq.com/plugins: unique-app-repo-auth,unique-route-metrics
    {{- if .Values.routes.paths.versioned.extraAnnotations }}
    {{- toYaml .Values.routes.paths.versioned.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - backendRefs:
        {{- include "backendService.routeBackendRefs" $ | nindent 8 }}
      filters:
        {{- include "backendService.urlRewritePrefixMatch" (default "/public" .Values.routes.paths.versioned.pathOverride) | nindent 8 }}
      matches:
        - path:
            type: PathPrefix
            value: {{ default "/public" .Values.routes.paths.versioned.pathOverride }}{{ include "backendService.routePrefix" $ }}
      {{- include "backendService.routeTimeouts" (dict "pathConfig" .Values.routes.paths.versioned "globalConfig" .Values.routes) | nindent 6 }}
{{- end }}

{{/* scoped route */}}
{{- if .Values.routes.paths.scoped.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-scoped
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/plugins: unique-route-metrics
    {{- if .Values.routes.paths.scoped.extraAnnotations }}
    {{- toYaml .Values.routes.paths.scoped.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    {{- range .Values.routes.paths.scoped.allowList }}
    {{- $entry := . }}
    {{- $matchType := default "Exact" .type }}
    {{- $methods := default (list "GET") .methods }}
    - matches:
        {{- range $methods }}
        - path:
            type: {{ $matchType }}
            value: {{ default "/scoped" $.Values.routes.paths.scoped.pathOverride }}{{ include "backendService.routePrefix" $ }}{{ $entry.path }}
          method: {{ . }}
        {{- end }}
      filters:
        {{- if eq $matchType "PathPrefix" }}
        {{- include "backendService.urlRewritePrefixMatch" (printf "%s%s" (default "/scoped" $.Values.routes.paths.scoped.pathOverride) $entry.path) | nindent 8 }}
        {{- else }}
        {{- include "backendService.urlRewriteFullPath" (printf "%s%s" (default "/scoped" $.Values.routes.paths.scoped.pathOverride) $entry.path) | nindent 8 }}
        {{- end }}
      backendRefs:
        {{- include "backendService.routeBackendRefs" $ | nindent 8 }}
      {{- include "backendService.routeTimeouts" (dict "pathConfig" $.Values.routes.paths.scoped "globalConfig" $.Values.routes) | nindent 6 }}
    {{- end }}
{{- end }}

{{/* probe route */}}
{{- if .Values.routes.paths.probe.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-probe
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/plugins: unique-route-metrics
    {{- if .Values.routes.paths.probe.extraAnnotations }}
    {{- toYaml .Values.routes.paths.probe.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - matches:
        - path:
            type: Exact
            value: {{ include "backendService.routePrefix" $ }}{{ default "/probe" .Values.routes.paths.probe.probePath }}
            # TODO: Add https://docs.konghq.com/hub/kong-inc/response-transformer/ to omit the response body
      filters:
        {{- include "backendService.urlRewriteFullPath" (default "/probe" .Values.routes.paths.probe.probePath) | nindent 8 }}
      backendRefs:
        {{- include "backendService.routeBackendRefs" $ | nindent 8 }}
      {{- include "backendService.routeTimeouts" (dict "pathConfig" .Values.routes.paths.probe "globalConfig" .Values.routes) | nindent 6 }}
{{- end }}

{{- else if or .Values.routes.paths.default.enabled .Values.routes.paths.versioned.enabled .Values.routes.paths.scoped.enabled .Values.routes.paths.probe.enabled }}
{{- fail "You can't use routes without gateway.networking.k8s.io CRDs installed. Install CRDs first."}}
{{- end }}
