extraRoutes:
  extra-route-1:
    enabled: true
    parentRefs:
      - name: kong
        namespace: kong-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - my.api.example.com
    matches:
      - path:
          type: PathPrefix
          value: /extra-route-1
    filters: []
    additionalRules: []
    # GEP-2257 timeouts
    timeouts:
      request: 60s
      backendRequest: 60s
  extra-route-2:
    enabled: true
    parentRefs:
      - name: kong
        namespace: kong-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - my.api.example.com
    matches:
      - path:
          type: PathPrefix
          value: /extra-route-2
    filters: []
    additionalRules: []
    # GEP-2257 timeouts with different values
    timeouts:
      request: 120s
      backendRequest: 60s
