replicaCount: 1

# Experimental `Recreate` update to short-term solve the caching issue, UN-6692
strategy:
  type: RollingUpdate # or `Recreate`

rollingUpdate:
  maxSurge: 1
  maxUnavailable: 0

# -- The image to use for this specific deployment and its cron jobs
image:
  # -- Repository, where the Unique service image is pulled from
  # - for Unique internal deployments, these is the internal release repository
  # - for client deployments, this will refer to the client's repository where the images have been mirrored too
  # Note that it is bad practice and not advised to directly pull from Uniques release repository
  # Read in the readme on why the helm chart comes bundled with the unique-ag/chart-testing-service image
  repository: "ghcr.io/unique-ag/chart-testing-service"
  # -- tag, most often will refer one of the latest release of the Unique service
  # Read in the readme on why the helm chart comes bundled with the unique-ag/chart-testing-service image
  tag: "1.0.0"
  # -- pullPolicy, Unique recommends to never use 'Always'
  pullPolicy: IfNotPresent

imagePullSecrets: []

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  enabled: false
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000
  seccompProfile:
    type: RuntimeDefault

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  tls:
    enabled: false

httproute:
  enabled: false
  annotations: {}
  gatewayName: kong
  gatewayNamespace: system
  hostnames: []
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      # backendRefs can be omitted to use the default service
      # backendRefs:
      #   - name: custom-service
      #     kind: Service
      #     port: 8080
    # Example of a more complex rule
    # - matches:
    #   - headers:
    #       - name: "X-Version"
    #         value: "v3"
    #     path:
    #       type: PathPrefix
    #       value: /test
    #   backendRefs:
    #     - name: api-v2
    #       kind: Service
    #       port: 8081

  # Additional HTTPRoutes
  additionalRoutes: []

env: {}

# Names of existing config maps to be used as env vars (configMapRef in envFrom)
extraEnvCM: []

envSecrets: {}

# Names of existing secrets to be used as env vars (secretRef in envFrom)
extraEnvSecrets: []

probes:
  enabled: true
  liveness:
    httpGet:
      path: /api/health
      port: http
    initialDelaySeconds: 5
  readiness:
    httpGet:
      path: /api/health
      port: http
    initialDelaySeconds: 5

pdb:
  maxUnavailable: 30%

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# .Values.secretProvider lets you mount secrets from Azure Key Vault into the pod
# Note that 'vault-1' is the literal vault name from azure
# The line format is 'make <ENV>: from <KEY_VAULT_SECRET_NAME>'
# The conversion from - to _ is done automatically
secretProvider: {}
# Example
# secretProvider:
#   tenantId: 99330c76-81d2-460e-861e-35af8e2a4266
#   aadPodIdBinding: binding-21 # optional, defaults to 'keyvault'
#   vaults:
#     vault-name-1:
#       MY_ENV_VARIABLE_1: keyvault-secret-name-a
#     vault-name-2:
#       MY_ENV_VARIABLE_2: keyvault-secret-name-b

# -- rootIngress is a convenience ingress that routes all traffic from the root of the domain to the backend service. Refer to the readme section "Implementation Details".
rootIngress:
  # -- Not all web-apps should act as root. In fact, only one deployed chart per cluster should enable this annotation, namely the one that should act as the root.
  enabled: false
  # -- The path to which the root should be redirected to
  redirectPath: /chat
  # -- Hostname of the root domain, should match your ingress or httproute settings.
  host: domain.example.com
  # -- Debugging redirection issues can be cumbersome, especially on Azure. You can enable the debugHeader to see the actual path that the request is being redirected to and if it was de facto rerouted.
  debugHeader: false
