apiVersion: v2
type: application
icon: https://www.unique.ch/hubfs/unique_assets/favicon/glyph_caumasee.svg
maintainers:
  - name: unique-ag
    url: https://unique.ch/
name: backend-service
sources:
  - https://github.com/Unique-AG/helm-charts/tree/main/charts/backend-service
version: 1.3.4
description: |
  The 'backend-service' chart is a "convenience" chart from Unique AG that can generically be used to deploy backend workloads to Kubernetes.

  Note that this chart assumes that you have a valid contract with Unique AG and thus access to the required Docker images.
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: 'secretProvider.userAssignedIdentityID' will only be added when not null or not an empty string
    - kind: fixed
      description: 'tyk.listenPath' not defaults to 'unset_default_path' so that chart can render by default
