apiVersion: v2
type: application
icon: https://www.unique.ch/hubfs/unique_assets/favicon/glyph_caumasee.svg
maintainers:
  - name: unique-ag
    url: https://unique.ch/
name: backend-service
sources:
  - https://github.com/Unique-AG/helm-charts/tree/main/charts/backend-service
version: 2.0.0
description: |
  The 'backend-service' chart is a "convenience" chart from Unique AG that can generically be used to deploy backend workloads to Kubernetes.

  Note that this chart assumes that you have a valid contract with Unique AG and thus access to the required Docker images.
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/changes: |
    - kind: changed
      description: "`tyk` is disabled by default. If you want to enable it, set `tyk.enabled` to `true`"
    - kind: changed
      description: "`/public` API is no longer referred to as public as it never was public as in terms of public. Its new chart-internal reference is `versioned` API. For SDK and backward compatibility the endpoint exposed will still be called `/public`" though.
      links:
        - name: "Example SDK Usage (see 'api_key')"
          url: https://github.com/Unique-AG/ai/blob/b9d4581a488f8f925f7896c20640a9a61c950bfe/unique_sdk/unique_sdk/__init__.py#L12
    - kind: changed
      description: "`securityContext` and `podSecurityContext` come with securer defaults. If you want to fallback to the older setups, empty them using `{}`"
      links:
        - name: Configure a Security Context for a Pod or Container
          url: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
    - kind: changed
      description: "`httproute` syntax and converted into dictionary as `extraRoutes`"
      links:
        - name: Gateway API
          url: https://gateway-api.sigs.k8s.io
        - name: Route Resources
          url: https://gateway-api.sigs.k8s.io/concepts/api-overview/#route-resources
        - name: Install CRDs
          url: https://gateway-api.sigs.k8s.io/guides/#getting-started-with-gateway-api
    - kind: added
      description: "`routes` encapsulates the defaults routes that Unique services use or require"
      links:
        - name: Gateway API
          url: https://gateway-api.sigs.k8s.io
        - name: Route Resources
          url: https://gateway-api.sigs.k8s.io/concepts/api-overview/#route-resources
        - name: Install CRDs
          url: https://gateway-api.sigs.k8s.io/guides/#getting-started-with-gateway-api
  artifacthub.io/containsSecurityUpdates: "true"
