apiVersion: v2
type: application
icon: https://www.unique.ch/hubfs/unique_assets/favicon/glyph_caumasee.svg
maintainers:
  - name: unique-ag
    url: https://unique.ch/
name: backend-service
sources:
  - https://github.com/Unique-AG/helm-charts/tree/main/charts/backend-service
# change on next major: enable netpol by default, deprecate cronJob
version: 5.0.0
appVersion: latest
description: |
  The 'backend-service' chart is a "convenience" chart from Unique AG that can generically be used to deploy backend workloads to Kubernetes.

  Note that this chart assumes that you have a valid contract with Unique AG and thus access to the required Docker images.
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/changes: |
    - kind: NOREALCHJANNGE
      description: "Default alerts for ArgoCD, Kubernetes resources, and Kubernetes application."
    - kind: added
      description: "ServiceMonitor for the backend-service."
    - kind: changed
      description: "⚠️ Breaking: PodMonitor removed, use ServiceMonitor instead."
    - kind: changed
      description: "⚠️ Breaking: format for specyfying custom rules for alerts has changed, refer to readme."
    - kind: changed
      description: "⚠️ Breaking: tyk resources are no longer available, upgrade to routes."
    - kind: changed
      description: "⚠️ Breaking: eventBasedAutoscaling value is no longer supported. Use .Values.keda instead"
    - kind: added
      description: "⚠️ Breaking: default route is now enabled by default"
