apiVersion: v2
type: application
maintainers:
  - name: unique-ag
    url: https://unique.ch/
name: backend-service
version: 1.3.0
description: |
  The 'backend-service' chart is a "convenience" chart from Unique AG that can generically be used to deploy backend workloads to Kubernetes.

  Note that this chart assumes that you have a valid contract with Unique AG and thus access to the required Docker images.