name: "[docker] Lint"

on:
  pull_request:
    branches:
      - main
    paths:
      - docker/**
      - .github/workflows/docker.lint.yaml

jobs:
  publish:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    timeout-minutes: 15
    outputs:
      version: ${{ steps.version.outputs.content }}
    steps:

    -
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/amd64,linux/arm64
    -
      name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    -
      name: Read version file
      id: version
      uses: juliangruber/read-file-action@v1
      with:
        path: docker/.version

    -
      name: Docker Meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/unique-ag/chart-testing-service
        tags: |
          type=raw,value=${{ steps.version.outputs.content }}

    -
      name: Build test service
      uses: docker/build-push-action@v5
      with:
        file: docker/Dockerfile
        context: docker
        platforms: linux/amd64,linux/arm64
        push: false
        tags: ${{ steps.meta.outputs.tags }}
